/* PROPERTY GRID */

.propertyTable {
    border-collapse: collapse;
    width: 100%;
}

    /* Style for odd table cell without colspan. */
    .propertyTable td:not([colspan]):nth-child(odd) {
        background-color: rgb(229,229,229);
    }

    .propertyTable td > input:not([type='button']) {
        width: 90px;
        height: 15px;
        box-sizing: content-box;
    }

    .propertyTable .spoiler {
        background-color: rgb(148,145,145) !important;
    }

        .propertyTable .spoiler.open {
            background-color: rgb(191,191,191) !important;
        }

.ui-dialog-title {
    white-space: normal !important;
}

.modalDialog {
    display: none;
    max-height: 320px !important;
}

@media(max-width:480px) {
    .modalDialog, .ui-colorpicker, .blockUI, .vsui-dialogContent {
        font-size: 11px;
        word-break: break-word;
    }

    .ui-dialog-title, .ui-dialog-buttonpane {
        font-size: 0.8em
    }
}
